.subButton:hover{
    opacity: 1;
}
#description:focus {
    border: none;
    outline: none;
    border: 2px solid #a4a4a44d;
    caret-color: rgb(192, 192, 192);
}
#description::-webkit-scrollbar {
    display: none;

}
#nicheInput:focus {
    border: none;
    outline: none;
}

.sidebarContainer {
    background-color: rgba(255, 0, 0, 0);
    font-family: 'Varela';
}

.inputForm {
    font-family: 'Varela Round', 'Inter', sans-serif;
}

.nicheLabel {
    color: white;
    font-family: 'Varela Round', 'Inter', sans-serif;
    font-size: 14px;
}

#nicheInput {
    font-family: 'Varela Round', 'Inter', sans-serif;
    border: none;
    font-size: 15px;
    caret-color: white;
    color: white;
}

#description {
    font-family: 'Varela Round', 'Inter', sans-serif;
    font-size: 14.5px;
    color: white;
}

.tones {
    outline: none;
    font-family: 'Roboto', 'Inter', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.selected {
    background-color: rgb(255, 255, 255);
    color: rgb(4, 4, 4);
    font-weight: 600;
    font-size: 13px;
    transition: all 0.10s ease;
}

.unselected {
    background-color: #1b1b1b;
    color: rgb(225, 225, 225);
    transition: all 0.20s ease;
}

.label {
    color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    margin-right: 10px;
    font-size: 14px;
    font-weight: 800;
    width: 80px;
}

hr {
    opacity: 0.0;
    margin: 0;
    padding: 0;
}

.Buttons {
    outline: none;
    border: none;
    font-family: 'Inter', 'Varela Round', 'Inter', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.subButton {
    cursor: pointer;
    color: white;
    font-family: 'Varela Round';
    font-weight: 400;
    font-size: large;
    border: none;
    outline: none;
}

.getIdea {
    background-color: #16718a;
}

.getScript {
    background-color: #16718a;
}
